.appContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .app_ToolbarContainer {
    max-height: 64px;
  }

  .app_LayoutContainer {
    display: flex;
    flex-direction: row;
    height: 100%;

    .layout_SidebarContainer {
      width: 56px;
      background: rgb(94, 93, 93);
    }

    .layout_SiderailContainer {
      width: 256px;
      background: rgb(117, 116, 116);
    }

    .layout_ContentContainer {
      flex: 1;
      display: flex;
      flex-direction: column;

      .content_Header {
        background: rgb(74, 74, 238);
        height: 80px;
      }

      .content_Actionbar {
        background: rgb(116, 116, 241);
        height: 56px;
      }

      .content_View {
        background: rgb(154, 154, 236);
        flex: 1;
      }
    }
  }
}