<div class="container">
  <div class="app_Container">
    <div class="app_ToolbarContainer">
      <eb-toolbar></eb-toolbar>
    </div>
    <div class="app_LayoutContainer">
      <div class="layout_SidebarContainer">
        <eb-sidebar></eb-sidebar>
      </div>
      <div class="layout_SiderailContainer" *ngIf="showRail">
        <eb-siderail></eb-siderail>
      </div>
      <div class="layout_ContentContainer">
        <div class="content_Actionbar">
          <eb-action-bar></eb-action-bar>
        </div>
        <div class="content_View">
          <eb-loading-indicator *ngIf="showLoading"></eb-loading-indicator>
          <router-outlet></router-outlet>

          <!-- Just to get the styles right -->
          <form class="justForStyle" [formGroup]="demoForm">
            <mat-form-field>
              <input matInput formControlName="name">
            </mat-form-field>
          </form>
          <!-- upto here -->
        </div>
      </div>
    </div>
  </div>
</div>
    