<div class="signUp_Box">
  <div class="signUp">
    <div class="signUp_Header">
      <h2>Logo Goes Here</h2>
    </div>
    <div class="signUp_Content">
      <form class="form_User" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput
                 placeholder="Firstname"
                 formControlName="firstName"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Lastname"
                 formControlName="lastName"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Email"
                 formControlName="email"
                 autocomplete="off">
          
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Confirm Email"
                 formControlName="confirmEmail"
                 [errorStateMatcher]="emailErrorMatcher"
                 autocomplete="off">
          <mat-error *ngIf="signUpForm.controls.confirmEmail.errors || signUpForm.hasError('emailNotMatch')">
            {{ getCEmailErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Username"
                 formControlName="userName"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput type="password"
                 placeholder="Password"
                 formControlName="password"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput type="password"
                 placeholder="Confirm Password"
                 formControlName="confirmPassword"
                 [errorStateMatcher]="passwordErrorMatcher"
                 autocomplete="off">
          <mat-error *ngIf="signUpForm.controls.confirmPassword.errors || signUpForm.hasError('passwordNotMatch')">
              {{ getCPassErrorMessage() }}
          </mat-error>
        </mat-form-field>
        <div class="term_And_Coditions">
          <small>By clicking Sign Up, you agree <a href="#">Terms & Conditions</a>.</small>
        </div>
        <div class="form_Actions">
          <button mat-flat-button
                  color="primary"
                  [disabled]="!signUpForm.valid"
                  type="submit">Sign Up</button>
          <button mat-flat-button color="accent" routerLink="/global/home">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
