<div class="signUp_Box">
  <div class="signUp">
    <div class="signUp_Header">
      <h2>Logo Goes Here</h2>
    </div>
    <div class="signUp_Content">
      <h2>Sign Up</h2>
      <form class="form_User">
        <mat-form-field>
          <input matInput
                 placeholder="Firstname"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 placeholder="Lastname"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Email"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Confirm Email"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Username"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Password"
                 autocomplete="off">
        </mat-form-field>
        <mat-form-field class="formField_FullWidth">
          <input matInput
                 placeholder="Confirm Password"
                 autocomplete="off">
        </mat-form-field>
        <div class="form_Actions">
          <button mat-flat-button
                  color="primary"
                  type="submit">Sign Up</button>
          <button mat-flat-button color="accent" routerLink="/global/home">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
